@model Credit.Models.SubmittedApplication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SubmittedApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfApplicationSubmission" class="control-label"></label>
                <input asp-for="DateOfApplicationSubmission" class="form-control" />
                <span asp-validation-for="DateOfApplicationSubmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanSize" class="control-label"></label>
                <input asp-for="LoanSize" class="form-control" />
                <span asp-validation-for="LoanSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfLoanId" class="control-label"></label>
                <select asp-for="TypeOfLoanId" class ="form-control" asp-items="ViewBag.TypeOfLoanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
